* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
@font-face {
  font-family: "TanBuste";
  src: url("fonts/TANBUSTER-fonts.otf") format("opentype");
}

@font-face {
  font-family: "AristotelicaPro";
  src: url("fonts/Zetafonts - Aristotelica Pro Text Extralight.otf")
    format("opentype");
}

@font-face {
  font-family: "TanParadiso";
  src: url("fonts/TAN-PARADISO.ttf") format("opentype");
}
body {
  width: 100%;
  overflow-x: hidden;
}

header {
  background: #b65a1e;
  padding: 0;
  position: relative;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: 0.3s;
}

/* logo */
.logo {
  height: 80px;
  width: 150px;
}

.logo img {
  height: 100%;
  width: 100%;
}

/* container do header */
.container {
  max-width: 1200px;
  width: 100%;
  height: 80px;
  margin: auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* menu opções */
.menu {
  display: flex;
  gap: 5rem;
  list-style: none;
}

/* menu links */
.menu a {
  text-decoration: none;
  color: #ebddcc;
  font-size: 15px;
  font-family: "AristotelicaPro", sans-serif;
}

/* Botão */
.btn-doar {
  background: #ebddcc;
  color: #642435;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-family: "AristotelicaPro";
}
/*Style hamburguer */
.hamburguer {
  display: none;
  cursor: pointer;
}
.hamburguer span {
  display: block;
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px 0;
  transition: 0.3s;
}

.hamburguer.ativo span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburguer.ativo span:nth-child(2) {
  opacity: 0;
}

.hamburguer.ativo span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* style hero */
.hero {
  height: 650px;
  background: url("imagem/itaoca-84.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

/* camada escura na imagem */
.hero:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.72);
}

/* conteudo acima da imagem */
.hero-container {
  position: relative;
  padding: 0;
  gap: 5rem;
  text-align: center;
}

/* Texo hero */

.hero-container h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-family: "TanBuste", sans-serif;
  color: #edbf8d;
}
.hero-container .h2 {
  font-family: "TanBuste";
}
.hero p {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "AristotelicaPro";
  padding: 0 0 20px 0;
  color: #ebddcc;
}

/* botão hero */
.hero-botoes {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}
.btn-hero {
  background: #455543;
  color: #ebddcc;
  font-family: "AristotelicaPro";
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3;
}

.btn-hero:hover {
  background: #b65a1e;
}

/* Pagina Sobre */
.sobre {
  background: #ffffff;
  display: block;
  margin-top: 5px;
  justify-content: center;
  padding: 0 0 20px 0;
}

.container-sobre {
  align-items: center;
  gap: 40px;
}

.sobre-text h2 {
  font-size: 30px;

  font-family: "TanBuste";
  margin-left: 10px;
  color: #642435;
  justify-content: center;
  text-align: center;
}

.btn-sobre {
  margin-top: 10px;
  background: #ff2600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
}

.btn-sobre:hover {
  background: #1500ff;
}

/* impacto*/
.impact {
  display: flex;
  text-align: center;
  gap: 5rem;
  margin-top: 20px;
  justify-content: center;
}

.dados {
  background: #ebddcc;
  color: #a34c1b;
  border-radius: 10px;
  width: 300px;
  height: 270px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 0 30px 0;
}

.impact h3 {
  font-size: 25px;
}

.dados p {
  font-size: 20px;
  font-family: "TanParadiso";
  margin-bottom: 10px;
}

.dados .descricao {
  font-family: "AristotelicaPro";
  font-size: 15px;
}

.btn {
  text-align: center;
  padding: 20px;
}
/* style projetos */
.projetos {
  padding: 20px 0;
  text-align: center;
  background: #ffffff;
  width: 100%;
}

.projetos h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  color: #642435;
  font-family: "TanBuste";
}

.cards {
  display: flex;
  gap: 2rem;
  padding: 20px;
  justify-content: center;
}

.card {
  width: 300px;
  min-height: 280px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  text-align: center;
  transition: 0.3s;
}

.cor1 {
  background: #6e4c5b;
}

.cor2 {
  background: #1d3e30;
}

.cor3 {
  background: #a34c1b;
}

.cor4 {
  background: #258900;
}

.cor5 {
  background: #830000;
}
.cor6 {
  background: #000c73;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0 10px;
  font-family: "TanParadiso";
  font-size: 20px;
  color: #ebddcc;
  text-align: center;
}
.card a {
  display: inline-block;
  margin: 0;
  padding: 8px 15px;
  background: white;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.3s;
}

.card a:hover {
  background: #b65a1e;
  color: white;
}

.card:hover {
  transform: translateY(-8px);
}

.oculto-p {
  font-family: "AristotelicaPro";
  font-size: 18px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  padding: 0 15px;
  color: #ebddcc;
  opacity: 0;
}

.card.ativo .oculto-p {
  max-height: 250px;
  margin-top: 10px;
  opacity: 1;
}
.card {
  cursor: pointer;
}

.oculto {
  display: none;
}

.oculto.mostrar {
  display: block;
}

.btn-ver-mais {
  display: inline-block;
  height: 35px;
  text-align: center;
  justify-content: center;
  padding: 10px 25px;
  background: #fb7c1f;
  color: #ebddcc;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn-ver-mais:hover {
  background: #642435;
}

/* style como ajudar */
.ajudar {
  padding: 80px 0;
  background: url("imagem/img-ajuda.JPG") center/cover no-repeat;
  position: relative;
  text-align: center;
  height: 650px;
}

.ajudar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.ajudar .container-ajudar {
  position: relative;
  z-index: 1;
}

.ajudar h2 {
  font-size: 30px;
  margin-bottom: 40px;
  color: #ebddcc;
  font-family: "TanBuste";
}

.ajudar-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0;
}

.ajudar-card p {
  font-family: "AristotelicaPro";
  font-size: 12px;
  margin-top: 5px;
}

.ajudar-card h3 {
  font-family: "TanParadiso";
  color: #642435;
}

.ajudar-card {
  background: #ebddcc;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn-ajudar {
  display: inline-block;
  margin-top: 15px;
  background: #455543;
  color: #ebddcc;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-family: "AristotelicaPro";
}

/* style depoimento */
.depoimentos {
  padding: 80px 0;
  background: #f5f5f5;
  text-align: center;
}

.depoimentos h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  font-family: "TanBuste";
  color: #642435;
}

.depoimentos-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.depoimento-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.depoimento-card p {
  font-family: "AristotelicaPro";
  margin-bottom: 10px;
}

.depoimento-card h4 {
  color: #a34c1b;
}

.container-depoimento h2 {
  font-family: "TanBuste";
}

/* footer*/
.footer {
  padding: 80px 0;
  background: #b65a1e;
  color: white;
}

.footer h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #ebddcc;
  font-family: "TanBuste";
}

.footer-content {
  display: flex;
  gap: 15rem;
  justify-content: center;
}

.logo-footer img {
  width: 200px;
  height: 100px;
}

.logo-footer p {
  font-size: 15px;
  padding: 0 0 0 20px;
  font-family: "TanParadiso";
  color: #ebddcc;
}

.info-footer {
  max-width: 300px;
}

.info-footer h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.info-footer p {
  margin-bottom: 8px;
  font-size: 15px;
  font-family: "AristotelicaPro";
}

.footer-cont {
  display: flex;
  gap: 1rem;
  padding: 5px 0;
  width: 500px;
}

.footer-cont img {
  height: 20px;
}

.rede {
  display: flex;
  gap: 1rem;
}

.footer-rede {
  margin-bottom: 5px;
}
.footer-rede p {
  font-family: "AristotelicaPro";
}

.logo-rede h2 {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 20px;
  font-family: "TanBuste";
}

.rede-sociais img {
  width: 40px;
  height: 40px;
}

.div-footer {
  text-align: center;
  margin-top: 50px;
}

/* animar */
.animar {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.animar.ativo {
  opacity: 1;
  transform: translateY(0);
}

/* Página Sobre */
.sobre-page {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.organizacao {
  padding: 60px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.text h2 {
  font-size: 30px;
  color: #642435;
  font-family: "TanBuste";
}
.text p {
  color: #1d3e30;
  font-size: 20px;
}

.imagem-pag {
  text-align: center;
}

.imagem-pag img {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  border: 5px solid #b65a1e;

  margin-top: 100px;
}

.historia-content {
  max-width: 800px;
  margin: 0 auto 50px;
  text-align: center;
}

.historia-content p {
  margin-bottom: 15px;
  font-size: 1rem;
}

.sobre-cont {
  background: #d6c3a3;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

.missao-cont {
  background: #ebddcc;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}
.visao-cont {
  background: #edbf8d;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}
.valores-cont {
  background: #b17253;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}
.sobre-cont:hover,
.missao-cont:hover,
.visao-cont:hover,
.valores-cont:hover {
  transform: translateY(-5px);
}

.sobre-cont h2 {
  font-family: "TanParadiso";
  color: #642435;
}
.missao-cont h2 {
  color: #a34c1b;
  font-family: "TanParadiso";
}
.visao-cont h2 {
  color: #455543;
  font-family: "TanParadiso";
}
.valores-cont h2 {
  color: #ebddcc;
  font-family: "TanParadiso";
}
.sobre-cont p,
.missao-cont p,
.visao-cont p,
.valores-cont p {
  color: #000;
}

.section-faixa {
  width: 100%;
  height: 150px;
}
.faixa-logo {
  width: 100%;
  height: 150px;
}

.faixa-logo img {
  width: 100%;
  height: 100%;
}

/* Página Doação */
/* hero */
.hero-doacao {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  gap: 40px;
  background: #ebddcc;
  overflow: hidden;
  position: relative;
}

/* TEXTO */

.text-doacao {
  width: 50%;
  z-index: 3;
  padding: 0 0 0 20px;
}

.tag {
  color: #b65a1e;
  font-family: "AristotelicaPro";
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
}

.text-doacao h1 {
  font-size: 35px;
  line-height: 1.1;
  margin: 20px 0;
  color: #642435;
  font-family: "TanBuste";
}

.text-doacao p {
  line-height: 1.8;
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #222;
  max-width: 600px;
  font-family: "AristotelicaPro";
}

.frase {
  color: #b65a1e;
  font-family: "AristotelicaPro";
  font-weight: 600;
}

/* IMAGEM */

.doacao-img {
  width: 40%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.doacao-img img {
  width: 100%;
  max-width: 700px;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

/* EFEITO FADE */

.doacao-img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 45%;
  height: 100%;
  z-index: 2;
  pointer-events: none;

  background: linear-gradient(
    to right,
    #ebddcc 0%,
    rgba(235, 221, 204, 0.95) 20%,
    rgba(235, 221, 204, 0.8) 40%,
    rgba(235, 221, 204, 0.3) 70%,
    transparent 100%
  );
}

/* PIX */

.pix {
  padding: 40px 0;
}

.pix-container {
  display: flex;
  background: #ebddcc;
  border-radius: 20px;
  margin: 0 80px 0 80px;
}

.pix-box,
.ajuda-box {
  padding: 40px;
  flex: 1;
}

.pix-box h2,
.ajuda-box h2 {
  margin-bottom: 30px;
  color: #642435;
  font-family: "tanParadiso";
}

.pix-content {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.pix-content img {
  width: 220px;
}

.pix-info p {
  margin-bottom: 20px;
  font-family: "AristotelicaPro";
}

.pix-info h4 {
  color: #b65a1e;
  margin-bottom: 10px;
  font-family: "AristotelicaPro";
}

.pix-chave {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-family: "AristotelicaPro";
}

.ajuda-item {
  margin-bottom: 30px;
  font-family: "AristotelicaPro";
  display: flex;
  gap: 1rem;
}
.ajuda-item div img {
  border-radius: 50%;
}

.ajuda-item h3 {
  color: #b65a1e;
  margin-bottom: 10px;
  font-family: "AristotelicaPro";
}

.btn-whats {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin-top: 15px;
  background: #b65a1e;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-family: "AristotelicaPro";
  font-weight: 600;
  transition: 0.3s ease;
}

.btn-whats img {
  width: 20px;
}

.btn-whats:hover {
  background: #ff8635;
  transform: translateY(-3px);
}

/* style pagina observatório Itaoca */

.hero-observatorio {
  min-height: 78vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("imagem/observatorio=inicio.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
}

.hero-content {
  max-width: 760px;
  margin-left: 8%;
}

.hero-content span {
  color: #f2b37e;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 14px;
}

.hero-content h1 {
  font-size: 4.5rem;
  line-height: 1;
  margin: 25px 0;
  text-transform: uppercase;
  font-family: "TanBuste";
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 1.7;
  max-width: 600px;
  font-family: "AristotelicaPro";
}

.hero-botoes {
  display: flex;
  gap: 18px;
  margin-top: 35px;
}

.hero-botoes a {
  padding: 14px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.hero-botoes a:first-child {
  background: #b65a1e;
  color: white;
}

.hero-botoes a:last-child {
  border: 1px solid white;
  color: white;
}

/* SOBRE */

.sobre-observatorio {
  padding: 90px 0;
  background: #fff7ef;
  height: 600px;
}

.sobre-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  align-items: center;
}

.sobre-texto span,
.tecnologia-social span {
  color: #b65a1e;
  font-weight: bold;
  font-size: 14px;
}

.sobre-texto h2,
.tecnologia-social h2 {
  font-size: 2.7rem;
  line-height: 1.2;
  color: #203820;
  margin: 18px 0;
  font-family: "TanBuste";
}

.sobre-texto p,
.tecnologia-social p {
  line-height: 1.8;
  margin-bottom: 16px;
  font-family: "AristotelicaPro";
}

.sobre-img img {
  width: 500px;
  height: 450px;
  border-radius: 22px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

/* COMO ATUAMOS */

.atuacao {
  padding: 30px 0;
  background: #f8f1e8;
  text-align: center;
  height: 350px;
}

.atuacao .container {
  display: block;
}

.atuacao h2,
.timeline h2,
.galeria h2 {
  color: #b65a1e;
  margin-bottom: 45px;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "TanBuste";
}

.atuacao-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.atuacao-card {
  background: #fffaf5;
  padding: 35px 24px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
}

.atuacao-card:hover {
  transform: translateY(-8px);
}

.atuacao-card h3 {
  color: #642435;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "tanParadiso";
}

.atuacao-card p {
  line-height: 1.6;
  font-size: 0.95rem;
  font-family: "AristotelicaPro";
}

/* TIMELINE */

.timeline {
  padding: 30px 0;
  background: #fff7ef;
  text-align: center;
  height: 410px;
}
.timeline .container {
  display: grid;
}

.timeline-lista {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  position: relative;
}

.timeline-item {
  background: #fff;
  padding: 25px;
  border-radius: 18px;
  text-align: center;
  border-top: 5px solid #b65a1e;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

.timeline-item h3 {
  color: #b65a1e;
  font-size: 15px;
  margin-bottom: 10px;
  font-family: "tanParadiso";
}

.timeline-item p {
  font-size: 0.95rem;
  line-height: 1.5;
  font-family: "AristotelicaPro";
}

/* IMPACTO */

.impacto-observatorio {
  background: #ebddcc;
  padding: 60px 0;
  color: #a34c1b;
  overflow: hidden;
  margin-bottom: 0;
  padding: 20px 0;
  height: 114px;
}

.impacto-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
}

.impacto-grid div {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.impacto-grid div:last-child {
  border-right: none;
}

.impacto-grid h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: "tanParadiso";
}

.impacto-grid p {
  font-size: 0.95rem;
  font-family: "AristotelicaPro";
}

/* GALERIA */

.galeria {
  min-height: 500px;
  padding: 80px 0 120px;
  background: #f8f1e8;
  position: relative;
  z-index: 5;
}

.galeria .container {
  display: block;
}

.galeria h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #8b4a2b;
  margin-bottom: 40px;
  font-family: "tanBuste";
}

.galeria-swiper {
  width: 100%;
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 50px 50px;
  overflow: hidden;
}

.galeria-swiper .swiper-wrapper {
  display: flex;
}

.galeria-swiper .swiper-slide {
  width: auto;
  display: flex;
  justify-content: center;
}

.galeria-swiper .swiper-slide img {
  width: 260px;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  display: block;
}

/* abrir foros galeria */

.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  padding: 20px;
}

.lightbox.ativo {
  display: flex;
}

.lightbox-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
}

.fechar {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 50px;
  cursor: pointer;
  font-weight: bold;
}

.swiper-slide img {
  cursor: pointer;
}

/* Setas da Lightbox */

.anterior,
.proximo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 15px;
  transition: 0.3s;
}

.anterior:hover,
.proximo:hover {
  color: #b65a1e;
}

.anterior {
  left: 30px;
}

.proximo {
  right: 30px;
}
/* TECNOLOGIA SOCIAL */

.tecnologia-social {
  padding: 20px 0;
  background: #fff7ef;
  height: 450px;
}

.tecnologia-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.tecnologia-social .container img {
  width: 300px;
  height: 400px;
}

.tecnologia-social a {
  display: inline-block;
  margin-top: 20px;
  background: #b65a1e;
  color: white;
  padding: 14px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

/* reconhecimento */
.reconhecimento {
  width: 100%;
  height: 400px;
}
.reconhecimento .reco-text h2 {
  color: #b65a1e;
  margin-bottom: 45px;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "TanBuste";
  text-align: center;
  padding: 10px 0;
}
.reconhecimento .reco-text p {
  line-height: 1.8;
  margin-bottom: 16px;
  font-family: "AristotelicaPro";
  padding: 0 15px;
}
.reconhecimento .container-reco {
  display: flex;
  padding: 10px 10px;
}
.paragrafo {
  width: 50%;
  gap: 2rem;
}
.paragrafo .p {
  font-size: 20px;
}

.reconhecimento .container-reco .container-img img {
  display: flex;
  width: 80px;
  height: 80px;
  padding: 10px 10px;
  align-items: center;
}

.img-p {
  display: flex;
  align-items: center;
}
.img-p p {
  font-family: "ArostotelicaPro";
  font-size: 20px;
  margin-top: 30px;
}

/* CTA */

.cta-observatorio {
  background: linear-gradient(135deg, #b65a1e, #642435);
  color: white;
  padding: 70px 0;
}

.cta-observatorio .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.cta-observatorio h2 {
  font-size: 2.5rem;
}

.cta-observatorio p {
  margin-top: 10px;
}

.cta-observatorio a {
  display: inline-block;
  margin: 8px;
  padding: 14px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  background: white;
  color: #642435;
}

/* Style para celular */
@media (max-width: 750px) and (min-width: 320px) {
  .container {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* logo header */
  .logo img {
    width: 120px;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    background: white;
    padding: 20px;
  }

  .btn-doar {
    padding: 6px 10px;
    font-size: 12px;
  }
  .menu.ativo {
    display: flex;
    background: #b65a1e;
  }
  .hamburguer {
    display: block;
    cursor: pointer;
  }

  .hamburguer span {
    width: 22px;
    background: white;
    display: block;
  }

  /* inicio */
  .hero h1 {
    font-size: 1.8rem;
  }
  .hero {
    padding: 20px;
  }

  .hero-botoes {
    flex-direction: column;
    align-items: center;
  }

  .btn-hero1 {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  .btn-hero2 {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  .btn-hero3 {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  /*impacto */
  .container-sobre {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .sobre-text h2::after {
    display: none;
  }

  .impact {
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;
  }
  .dados {
    width: 80%;
    display: flex;
    gap: 1rem;
  }
  .dados img {
    width: 100px;
    height: 100px;
  }

  /* projetos  */
  .cards {
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 350px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
  }

  .card h3 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.85rem;
  }

  .card a {
    text-align: center;
  }

  .btn-projeto {
    width: 30%;
    text-align: center;
  }

  .btn-ver-mais {
    width: 50%;
    text-align: center;
  }

  /* como ajudar */
  .ajudar {
    padding: 20px 0 0 0;
  }

  .ajudar h2 {
    margin-bottom: 50px;
  }

  .ajudar-cards {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .ajudar-card {
    width: 90%;
  }

  /* depoimento */
  .depoimentos-cards {
    flex-direction: column;
    align-items: center;
  }

  .depoimento-card {
    width: 90%;
  }

  /* footer */
  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .info-footer {
    width: 90%;
  }

  .footer {
    text-align: center;
  }

  .logo-rede {
    padding: 20px;
  }

  /* animar */
  .animar {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
  }

  .animar.ativo {
    opacity: 1;
    transform: translateY(0);
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .historia-content {
    padding: 0 10px;
  }

  .imagem-pag img {
    max-width: 100%;
  }

  .container,
  .container-footer {
    max-width: 1200px;
    margin: auto;
  }

  /* pagina sobre */
  .organizacao {
    display: block;
  }

  .imagem-pag img {
    width: 100%;
    margin-top: 0;
  }

  .text h2 {
    padding: 10px;
  }

  .text p {
    padding: 0 0 10px;
  }
  /* faixa decorativa */
  .section-faixa {
    height: 100px;
  }
  .faixa-logo {
    height: 100px;
  }
  .faixa-logo img {
    width: 100%;
    height: 100%;
  }

  /* pagina doação */
  /* HERO */

  .hero-doacao {
    flex-direction: column;
    width: 100%;
    padding: 40px 20px;
    gap: 30px;
    text-align: center;
  }

  .text-doacao {
    width: 100%;
    padding: 0;
  }

  .tag {
    font-size: 12px;
    letter-spacing: 1px;
  }

  .text-doacao h1 {
    font-size: 2.3rem;
    line-height: 1.2;
    margin: 15px 0;
  }

  .text-doacao p {
    font-size: 1rem;
    line-height: 1.7;
    max-width: 100%;
  }

  .frase {
    font-size: 0.95rem;
  }

  /* IMAGEM */

  .doacao-img {
    width: 100%;
    justify-content: center;
  }

  .doacao-img img {
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
  }

  /* REMOVE O FADE NO MOBILE */

  .doacao-img::before {
    display: none;
  }

  /* PIX */

  .pix {
    padding: 30px 15px;
  }

  .pix-container {
    flex-direction: column;
    margin: 0;
    border-radius: 20px;
  }

  .pix-box,
  .ajuda-box {
    width: 100%;
    padding: 25px 20px;
  }

  .pix-box h2,
  .ajuda-box h2 {
    font-size: 1.7rem;
    text-align: center;
  }

  /* QR CODE */

  .pix-content {
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }

  .pix-content img {
    width: 180px;
  }

  .pix-info {
    width: 100%;
  }

  .pix-info p {
    font-size: 0.95rem;
    line-height: 1.6;
  }

  .pix-info h4 {
    font-size: 1rem;
  }

  .pix-chave {
    width: 100%;
    font-size: 0.9rem;
    padding: 12px;
    word-break: break-word;
  }

  /* AJUDA */

  .ajuda-item {
    align-items: flex-start;
    gap: 15px;
  }

  .ajuda-item img {
    width: 45px;
  }

  .ajuda-item h3 {
    font-size: 1rem;
  }

  .ajuda-item p {
    font-size: 0.95rem;
    line-height: 1.5;
  }

  .btn-whats {
    width: 100%;
    max-width: 300px;

    justify-content: center;
    text-align: center;

    padding: 12px 20px;

    font-size: 0.95rem;

    margin-top: 15px;
  }

  .btn-whats img {
    width: 20px;
  }
  /* responsivo pagina observatório */
  .hero-observatorio {
    min-height: 100vh;
    padding: 90px 20px 60px;
    justify-content: center;
    align-items: center;
    background-position: center;
    text-align: center;
  }

  .hero-content {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 10px;
  }

  .hero-content span {
    font-size: 12px;
    letter-spacing: 3px;
  }

  .hero-content h1 {
    font-size: 2.1rem;
    line-height: 1.15;
    margin: 18px 0;
  }

  .hero-content p {
    font-size: 1rem;
    line-height: 1.7;
    max-width: 100%;
  }

  .hero-botoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
  }

  .hero-botoes a {
    width: 100%;
    max-width: 280px;
    padding: 14px 20px;
    text-align: center;
  }
  /* SOBRE - CELULAR */
  .sobre-observatorio {
    height: auto;
    padding: 60px 20px;
  }

  .sobre-grid {
    grid-template-columns: 1fr;
    gap: 35px;
    text-align: center;
  }

  .sobre-texto span {
    font-size: 12px;
  }

  .sobre-texto h2 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .sobre-texto p {
    font-size: 0.95rem;
    line-height: 1.7;
  }

  .sobre-img img {
    width: 100%;
    max-width: 360px;
    height: auto;
    margin: 0 auto;
  }
  .atuacao-cards,
  .timeline-lista,
  .impacto-grid {
    grid-template-columns: 1fr;
  }

  .atuacao-card,
  .timeline-item {
    width: 100%;
  }

  .impacto-observatorio {
    padding: 40px 20px;
  }

  .impacto-grid div {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
  }

  .impacto-grid div:last-child {
    border-bottom: none;
  }

  .galeria {
    min-height: auto;
    padding: 60px 0 80px;
  }

  .galeria h2 {
    font-size: 2rem;
  }

  .galeria-swiper {
    padding: 0 35px 45px;
  }

  .galeria-swiper .swiper-slide img {
    width: 240px;
    height: 170px;
  }

  .lightbox-img {
    max-width: 85%;
    max-height: 75%;
  }

  .fechar {
    top: 20px;
    right: 25px;
    font-size: 40px;
  }

  .anterior,
  .proximo {
    font-size: 42px;
    padding: 8px;
  }

  .anterior {
    left: 10px;
  }

  .proximo {
    right: 10px;
  }

  .tecnologia-social .container img {
    width: 100%;
    height: auto;
  }

  .reconhecimento .container-reco {
    flex-direction: column;
    text-align: center;
  }

  .paragrafo {
    width: 100%;
  }

  .img-p {
    justify-content: center;
    flex-direction: column;
  }

  .reconhecimento .container-reco .container-img img {
    margin: auto;
  }

  .cta-observatorio .container {
    flex-direction: column;
    text-align: center;
  }

  .cta-observatorio h2 {
    font-size: 2rem;
  }

  .cta-observatorio a {
    width: 100%;
    max-width: 280px;
    text-align: center;
  }
}

/*== 850px ==*/
@media (max-width: 850px) and (min-width: 751px) {
  .container {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* logo header */
  .logo img {
    width: 120px;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    background: white;
    padding: 20px;
  }

  .btn-doar {
    padding: 6px 10px;
    font-size: 12px;
  }
  .menu.ativo {
    display: flex;
    background: #b65a1e;
  }
  .hamburguer {
    display: block;
    cursor: pointer;
  }

  .hamburguer span {
    width: 22px;
    background: white;
    display: block;
  }

  /* inicio */
  .hero h1 {
    font-size: 1.8rem;
  }
  .hero {
    padding: 20px;
  }

  .hero-botoes {
    flex-direction: column;
    align-items: center;
  }

  .btn-hero1 {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  .btn-hero2 {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  .btn-hero3 {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  /*impacto */
  .container-sobre {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .sobre-text h2::after {
    display: none;
  }

  .impact {
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  .dados {
    width: 100%;
    padding: 20px;
  }

  .dados img {
    width: 100px;
    height: 100px;
  }

  /* projetos  */
  .cards {
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 350px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
  }

  .card h3 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.85rem;
  }

  .card a {
    text-align: center;
  }

  .btn-projeto {
    width: 30%;
    text-align: center;
  }

  .btn-ver-mais {
    width: 50%;
    text-align: center;
  }

  /* como ajudar */
  .ajudar {
    padding: 20px 0 0 0;
  }

  .ajudar h2 {
    margin-bottom: 50px;
  }

  .ajudar-cards {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .ajudar-card {
    width: 90%;
  }

  /* depoimento */
  .depoimentos-cards {
    flex-direction: column;
    align-items: center;
  }

  .depoimento-card {
    width: 90%;
  }

  /* footer */
  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .info-footer {
    width: 90%;
  }

  .footer {
    text-align: center;
  }

  .logo-rede {
    padding: 20px;
  }

  /* animar */
  .animar {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
  }

  .animar.ativo {
    opacity: 1;
    transform: translateY(0);
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .historia-content {
    padding: 0 10px;
  }

  .imagem-pag img {
    max-width: 100%;
  }

  .container,
  .container-footer {
    max-width: 1200px;
    margin: auto;
  }

  /* pagina sobre */
  .organizacao {
    display: block;
  }

  .imagem-pag img {
    width: 100%;
    margin-top: 0;
  }

  .text h2 {
    padding: 10px;
  }

  .text p {
    padding: 0 0 10px;
  }
  /* faixa decorativa */
  .section-faixa {
    height: 100px;
  }
  .faixa-logo {
    height: 100px;
  }
  .faixa-logo img {
    width: 100%;
    height: 100%;
  }

  /* pagina doação */
  /* HERO */

  .hero-doacao {
    padding: 50px 30px;
    gap: 30px;
    align-items: center;
  }

  .text-doacao {
    width: 55%;
    padding: 0;
  }

  .tag {
    font-size: 13px;
  }

  .text-doacao h1 {
    font-size: 2.8rem;
    line-height: 1.2;
  }

  .text-doacao p {
    font-size: 1rem;
    line-height: 1.7;
    max-width: 100%;
  }

  .frase {
    font-size: 1rem;
  }

  /* IMAGEM */

  .doacao-img {
    width: 45%;
  }

  .doacao-img img {
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
  }

  /* EFEITO FADE */

  .doacao-img::before {
    width: 35%;
  }

  /* PIX */

  .pix {
    padding: 40px 20px;
  }

  .pix-container {
    flex-direction: column;
    margin: 0;
    border-radius: 20px;
  }

  .pix-box,
  .ajuda-box {
    width: 100%;
    padding: 35px;
  }

  .pix-box h2,
  .ajuda-box h2 {
    font-size: 2rem;
    text-align: center;
  }

  /* QR CODE */

  .pix-content {
    gap: 30px;
    align-items: center;
  }

  .pix-content img {
    width: 200px;
  }

  .pix-info p {
    font-size: 1rem;
  }

  .pix-chave {
    font-size: 0.95rem;
    word-break: break-word;
  }

  /* AJUDA */

  .ajuda-item {
    gap: 20px;
    align-items: flex-start;
  }

  .ajuda-item img {
    width: 50px;
  }

  .ajuda-item h3 {
    font-size: 1.1rem;
  }

  .ajuda-item p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .btn-whats {
    padding: 12px 22px;
    font-size: 1rem;
  }

  /* responsivo página observatório */

  /* HERO */

  .hero-observatorio {
    min-height: 75vh;
    padding: 60px 30px;
  }

  .hero-content {
    margin-left: 4%;
    max-width: 90%;
  }

  .hero-content h1 {
    font-size: 3.2rem;
  }

  .hero-content p {
    font-size: 1.05rem;
  }

  .hero-botoes {
    flex-wrap: wrap;
  }

  /* SOBRE */

  .sobre-observatorio {
    height: auto;
    padding: 70px 0;
  }

  .sobre-grid {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 40px;
  }

  .sobre-img img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  /* COMO ATUAMOS */

  .atuacao {
    height: auto;
    padding: 60px 0;
  }

  .atuacao-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  /* TIMELINE */

  .timeline {
    height: auto;
    padding: 60px 0;
  }

  .timeline-lista {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  /* IMPACTO */

  .impacto-observatorio {
    height: auto;
    padding: 40px 20px;
  }

  .impacto-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .impacto-grid div {
    border-right: none;
  }

  /* GALERIA */

  .galeria {
    min-height: auto;
    padding: 70px 0;
  }

  .galeria h2 {
    font-size: 2.2rem;
  }

  .galeria-swiper {
    max-width: 95%;
    padding: 0 45px 45px;
  }

  .galeria-swiper .swiper-slide img {
    width: 230px;
    height: 170px;
  }

  /* LIGHTBOX */

  .lightbox-img {
    max-width: 85%;
    max-height: 80%;
  }

  .anterior,
  .proximo {
    font-size: 50px;
  }

  /* TECNOLOGIA SOCIAL */

  .tecnologia-social {
    height: auto;
    padding: 70px 0;
  }

  .tecnologia-grid {
    grid-template-columns: 1fr;
    gap: 35px;
    text-align: center;
  }

  .tecnologia-social .container img {
    width: 100%;
    max-width: 320px;
    height: auto;
  }

  /* RECONHECIMENTO */

  .reconhecimento {
    height: auto;
    padding: 60px 0;
  }

  .container-reco {
    flex-direction: column;
    gap: 30px;
  }

  .paragrafo {
    width: 100%;
  }

  .img-p {
    justify-content: center;
  }

  /* CTA */

  .cta-observatorio .container {
    flex-direction: column;
    text-align: center;
  }

  .cta-observatorio h2 {
    font-size: 2.2rem;
  }
}

/*== 1050px ==*/
@media (max-width: 1050px) and (min-width: 851px) {
  .container {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* logo header */
  .logo img {
    width: 120px;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    background: white;
    padding: 20px;
  }

  .btn-doar {
    padding: 6px 10px;
    font-size: 12px;
  }
  .menu.ativo {
    display: flex;
    background: #b65a1e;
  }
  .hamburguer {
    display: block;
    cursor: pointer;
  }

  .hamburguer span {
    width: 22px;
    background: white;
    display: block;
  }

  /* inicio */
  .hero h1 {
    font-size: 1.8rem;
  }
  .hero {
    padding: 20px;
  }

  .hero-botoes {
    flex-direction: column;
    align-items: center;
  }

  .btn-hero1 {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  .btn-hero2 {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  .btn-hero3 {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  /* impacto */
  .container-sobre {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .sobre-text h2::after {
    display: none;
  }

  .impact {
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  .dados {
    width: 100%;
    padding: 20px;
  }

  .dados img {
    width: 200px;
    height: 100px;
  }

  /* projetos  */
  .cards {
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 350px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
  }

  .card h3 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.85rem;
  }

  .card a {
    text-align: center;
  }

  .btn-projeto {
    width: 30%;
    text-align: center;
  }

  .btn-ver-mais {
    width: 50%;
    text-align: center;
  }

  /* como ajudar */
  .ajudar {
    padding: 20px 0 0 0;
  }

  .ajudar h2 {
    margin-bottom: 50px;
  }

  .ajudar-cards {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .ajudar-card {
    width: 90%;
  }

  /* depoimento */
  .depoimentos-cards {
    flex-direction: column;
    align-items: center;
  }

  .depoimento-card {
    width: 90%;
  }

  /* footer */
  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .info-footer {
    width: 90%;
  }

  .footer {
    text-align: center;
  }

  .logo-rede {
    padding: 20px;
  }

  /* animar */
  .animar {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
  }

  .animar.ativo {
    opacity: 1;
    transform: translateY(0);
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .historia-content {
    padding: 0 10px;
  }

  .imagem-pag img {
    max-width: 100%;
  }

  .container,
  .container-footer {
    max-width: 1200px;
    margin: auto;
  }

  /* pagina sobre */
  .organizacao {
    display: block;
  }

  .imagem-pag img {
    width: 100%;
    margin-top: 0;
  }

  .text h2 {
    padding: 10px;
  }

  .text p {
    padding: 0 0 10px;
  }
  /* faixa decorativa */
  .section-faixa {
    height: 100px;
  }
  .faixa-logo {
    height: 100px;
  }
  .faixa-logo img {
    width: 100%;
    height: 100%;
  }

  /* pagina Doação */

  /* HERO */

  .hero-doacao {
    padding: 60px 40px;
    gap: 40px;
    align-items: center;
  }

  .text-doacao {
    width: 55%;
    padding: 0;
  }

  .tag {
    font-size: 13px;
    letter-spacing: 2px;
  }

  .text-doacao h1 {
    font-size: 3.2rem;
    line-height: 1.2;
  }

  .text-doacao p {
    font-size: 1.05rem;
    line-height: 1.8;
    max-width: 100%;
  }

  .frase {
    font-size: 1rem;
  }

  /* IMAGEM */

  .doacao-img {
    width: 45%;
  }

  .doacao-img img {
    width: 100%;
    max-width: 100%;
    border-radius: 25px;
  }

  /* FADE */

  .doacao-img::before {
    width: 40%;
  }

  /* PIX */

  .pix {
    padding: 50px 30px;
  }

  .pix-container {
    gap: 20px;
    margin: 0;
    padding: 10px;
    border-radius: 25px;
    align-items: center;
  }

  .pix-box,
  .ajuda-box {
    padding: 30px;
  }

  .pix-box h2,
  .ajuda-box h2 {
    font-size: 2rem;
    margin-bottom: 25px;
  }

  /* CONTEÚDO PIX */

  .pix-content {
    gap: 25px;
    align-items: center;
  }

  .pix-content img {
    width: 200px;
  }

  .pix-info p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .pix-info h4 {
    font-size: 1rem;
  }

  .pix-chave {
    font-size: 0.95rem;
    padding: 14px;
    word-break: break-word;
  }

  /* AJUDA */

  .ajuda-item {
    gap: 15px;
    margin-bottom: 25px;
  }

  .ajuda-item img {
    width: 50px;
    height: 50px;
  }

  .ajuda-item h3 {
    font-size: 1.05rem;
  }

  .ajuda-item p {
    font-size: 0.98rem;
    line-height: 1.6;
  }

  .btn-whats {
    padding: 13px 24px;

    font-size: 1rem;

    border-radius: 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .btn-whats img {
    width: 21px;
  }

  /* responsivo página oservatório */
  /* HERO */

  .hero-observatorio {
    min-height: 75vh;
    padding: 70px 40px;
  }

  .hero-content {
    margin-left: 4%;
    max-width: 650px;
  }

  .hero-content h1 {
    font-size: 3.8rem;
  }

  .hero-content p {
    font-size: 1.1rem;
  }

  /* SOBRE */

  .sobre-observatorio {
    height: auto;
    padding: 80px 0;
  }

  .sobre-grid {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
  }

  .sobre-img img {
    width: 100%;
    max-width: 430px;
    height: auto;
  }

  /* COMO ATUAMOS */

  .atuacao {
    height: auto;
    padding: 70px 0;
  }

  .atuacao-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  /* TIMELINE */

  .timeline {
    height: auto;
    padding: 70px 0;
  }

  .timeline-lista {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  /* IMPACTO */

  .impacto-observatorio {
    height: auto;
    padding: 40px 20px;
  }

  .impacto-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .impacto-grid div {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }

  .impacto-grid div:last-child {
    border-right: none;
  }

  /* GALERIA */

  .galeria {
    min-height: auto;
    padding: 80px 0;
  }

  .galeria-swiper {
    max-width: 95%;
    padding: 0 50px 50px;
  }

  .galeria-swiper .swiper-slide img {
    width: 240px;
    height: 170px;
  }

  /* LIGHTBOX */

  .lightbox-img {
    max-width: 85%;
    max-height: 85%;
  }

  .anterior,
  .proximo {
    font-size: 55px;
  }

  /* TECNOLOGIA SOCIAL */

  .tecnologia-social {
    height: auto;
    padding: 80px 0;
  }

  .tecnologia-grid {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
  }

  .tecnologia-social .container img {
    width: 100%;
    max-width: 320px;
    height: auto;
  }

  /* RECONHECIMENTO */

  .reconhecimento {
    height: auto;
    padding: 70px 0;
  }

  .container-reco {
    display: flex;
    gap: 30px;
    align-items: flex-start;
  }

  .paragrafo {
    width: 60%;
  }

  .container-img {
    width: 40%;
  }

  /* CTA */

  .cta-observatorio .container {
    gap: 20px;
  }

  .cta-observatorio h2 {
    font-size: 2.2rem;
  }
}
