* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
header {
  background: #b65a1e;
  padding: 0;
  position: relative;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: 0.3s;
}

/* logo */
.logo {
  height: 80px;
  width: 150px;
}

.logo img {
  height: 100%;
  width: 100%;
}

/* container do header */
.container {
  max-width: 1200px;
  height: 80px;
  margin: auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* menu opções */
.menu {
  display: flex;
  gap: 5rem;
  list-style: none;
}

/* menu links */
.menu a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.menu a.active {
  color: white;
  border-bottom: 2px solid white;
}

/* Botão */
.btn-doar {
  background: white;
  color: #d06800;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/*Style hamburguer */
.hamburguer {
  display: none;
  cursor: pointer;
}
.hamburguer span {
  display: block;
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px 0;
  transition: 0.3s;
}

.hamburguer.ativo span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburguer.ativo span:nth-child(2) {
  opacity: 0;
}

.hamburguer.ativo span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* style hero */
.hero {
  height: 650px;
  background: url("imagem/projetoGaia.png") no-repeat center/cover;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

/* camada escura na imagem */
.hero:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.81);
}

/* conteudo acima da imagem */
.hero-container {
  position: relative;
  max-width: 700px;
  padding: 0 0 0 50px;
  gap: 5rem;
}

/* Texo hero */
.hero h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hero p {
  margin-bottom: 20px;
  font-size: 20px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0 0 20px 0;
}

/* botão hero */
.hero-botoes {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}
.btn-hero1 {
  background: #bb0808;
  color: white;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3;
}

.btn-hero2 {
  background: #275d02;
  color: white;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3;
}

.btn-hero3 {
  background: #ff2600;
  color: white;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3;
}

.btn-hero1:hover {
  background: #1500ff;
}

.btn-hero2:hover {
  background: #1500ff;
}

.btn-hero3:hover {
  background: #1500ff;
}

/* Pagina Sobre */
.sobre {
  background: #ffffff;
  display: block;
  margin-top: 5px;
}

.container-sobre {
  display: flex;
  align-items: center;
  gap: 40px;
}

.sobre-text h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 10px;
}

.sobre-text p {
  margin-bottom: 20px;
  font-size: 20px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 10px;
}

.btn-sobre {
  margin-top: 10px;
  background: #ff2600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
}

.btn-sobre:hover {
  background: #1500ff;
}
.img-sobre img {
  width: 100%;
  border-radius: 10px;
}

/* impacto + sobre */
.impact {
  background: #ffeed3;
  display: flex;
  padding: 40px 0;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  gap: 10rem;
  margin-top: 20px;
  justify-content: center;
  height: 120px;
}

.impact h3 {
  color: #b65a1e;
  font-size: 20px;
}

.impact p {
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn {
  text-align: center;
  padding: 20px;
}
/* style projetos */
.projetos {
  padding: 20px 0;
  text-align: center;
  background: #ffffff;
  width: 100%;
}

.projetos h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.cards {
  display: flex;
  gap: 2rem;
  padding: 20px;
  justify-content: center;
}

.card {
  width: 300px;
  min-height: 280px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  text-align: center;
  transition: 0.3s;
}

.cor1 {
  background: #e00000cb;
}

.cor2 {
  background: #9e0091;
}

.cor3 {
  background: #bc8100;
}

.cor4 {
  background: #258900;
}

.cor5 {
  background: #830000;
}
.cor6 {
  background: #000c73;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0 10px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: white;
  text-align: center;
}
.card a {
  display: inline-block;
  margin: 0;
  padding: 8px 15px;
  background: white;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.3s;
}

.card a:hover {
  background: #b65a1e;
  color: white;
}

.card:hover {
  transform: translateY(-8px);
}

.oculto-p {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  padding: 0 15px;
  color: white;
  opacity: 0;
}

.card.ativo .oculto-p {
  max-height: 250px;
  margin-top: 10px;
  opacity: 1;
}

.oculto {
  display: none;
}

.oculto.mostrar {
  display: block;
}

.btn-projeto {
  display: inline-block;
  margin-top: 0;
  background: white;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn-ver-mais {
  display: inline-block;
  height: 35px;
  text-align: center;
  justify-content: center;
  padding: 10px 25px;
  background: #d06800;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn-ver-mais:hover {
  background: #990000;
}

/* style como ajudar */
.ajudar {
  padding: 80px 0;
  background: url("imagem/cestaBasica.png") center/cover no-repeat;
  position: relative;
  text-align: center;
  height: 650px;
}

.ajudar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.ajudar .container-ajudar {
  position: relative;
  z-index: 1;
}

.ajudar h2 {
  font-size: 30px;
  margin-bottom: 40px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.ajudar-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0;
}

.ajudar-card p {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
  margin-top: 5px;
}

.ajudar-card h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.ajudar-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn-ajudar {
  display: inline-block;
  margin-top: 15px;
  background: #bb0808;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* style depoimento */
.depoimentos {
  padding: 80px 0;
  background: #f5f5f5;
  text-align: center;
}

.depoimentos h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #000;
}

.depoimentos-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.depoimento-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.depoimento-card p {
  font-style: italic;
  margin-bottom: 10px;
}

.depoimento-card h4 {
  color: #ff2600;
}

.container-depoimento h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* footer*/
.footer {
  padding: 80px 0;
  background: #b65a1e;
  color: white;
}

.footer h2 {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.footer-content {
  display: flex;
  gap: 15rem;
  justify-content: center;
}

.logo-footer img {
  width: 200px;
  height: 100px;
}

.logo-footer p {
  font-size: 15px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0 0 0 20px;
}

.info-footer {
  max-width: 300px;
}

.info-footer h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.info-footer p {
  margin-bottom: 8px;
  font-size: 15px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footer-cont {
  display: flex;
  gap: 1rem;
  padding: 5px 0;
  width: 500px;
}

.footer-cont img {
  height: 20px;
}

.rede {
  display: flex;
  gap: 1rem;
}

.footer-rede {
  margin-bottom: 5px;
}

.logo-rede h2 {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 20px;
}

.rede-sociais img {
  width: 40px;
  height: 40px;
}

.div-footer {
  text-align: center;
  margin-top: 50px;
}

/* animar */
.animar {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.animar.ativo {
  opacity: 1;
  transform: translateY(0);
}

/* Página Sobre */
.sobre-page {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.organizacao {
  padding: 60px 20px;
  display: flex;
  gap: 1rem;
}

.text h2 {
  font-size: 30px;
  color: #b65a1e;
}
.text p {
  color: #b65a1e;
  font-size: 20px;
}

.imagem-pag {
  text-align: center;
}

.imagem-pag img {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  border: 5px solid #b65a1e;

  margin-top: 100px;
}

.historia-content {
  max-width: 800px;
  margin: 0 auto 50px;
  text-align: center;
}

.historia-content p {
  margin-bottom: 15px;
  font-size: 1rem;
}

.missao-cont {
  background: #bc8100;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}
.visao-cont {
  background: #830000;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}
.valores-cont {
  background: #258900;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

.missao-cont:hover,
.visao-cont:hover,
.valores-cont:hover {
  transform: translateY(-5px);
}

.missao-cont h2,
.visao-cont h2,
.valores-cont h2 {
  margin-bottom: 10px;
  color: white;
}

.missao-cont p,
.visao-cont p,
.valores-cont p {
  color: white;
}

.section-faixa {
  width: 100%;
  height: 150px;
}
.faixa-logo {
  width: 100%;
  height: 150px;
}

.faixa-logo img {
  width: 100%;
  height: 100%;
}

/* Style para celular */
@media (max-width: 768px) {
  .container {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* logo header */
  .logo img {
    width: 120px;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    background: white;
    padding: 20px;
  }

  .btn-doar {
    padding: 6px 10px;
    font-size: 12px;
  }
  .menu.ativo {
    display: flex;
    background: #b65a1e;
  }
  .hamburguer {
    display: block;
    cursor: pointer;
  }

  .hamburguer span {
    width: 22px;
    background: white;
    display: block;
  }

  /* inicio */
  .hero h1 {
    font-size: 1.8rem;
  }
  .hero {
    padding: 20px;
  }

  .hero-botoes {
    flex-direction: column;
    align-items: center;
  }

  .btn-hero1 {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  .btn-hero2 {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  .btn-hero3 {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  /* sobre + impacto */
  .container-sobre {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .sobre-text h2::after {
    display: none;
  }

  .impact {
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  .dados {
    width: 100%;
    padding: 20px;
  }

  /* projetos  */
  .cards {
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 350px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
  }

  .card h3 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.85rem;
  }

  .card a {
    text-align: center;
  }

  .btn-projeto {
    width: 30%;
    text-align: center;
  }

  .btn-ver-mais {
    width: 50%;
    text-align: center;
  }

  /* como ajudar */
  .ajudar {
    padding: 20px 0 0 0;
  }

  .ajudar h2 {
    margin-bottom: 50px;
  }

  .ajudar-cards {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .ajudar-card {
    width: 90%;
  }

  /* depoimento */
  .depoimentos-cards {
    flex-direction: column;
    align-items: center;
  }

  .depoimento-card {
    width: 90%;
  }

  /* footer */
  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .info-footer {
    width: 90%;
  }

  .footer {
    text-align: center;
  }

  .logo-rede {
    padding: 20px;
  }

  /* animar */
  .animar {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
  }

  .animar.ativo {
    opacity: 1;
    transform: translateY(0);
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .historia-content {
    padding: 0 10px;
  }

  .imagem-pag img {
    max-width: 100%;
  }

  .container,
  .container-footer {
    max-width: 1200px;
    margin: auto;
  }

  /* pagina sobre */
  .organizacao {
    display: block;
  }

  .imagem-pag img {
    width: 100%;
    margin-top: 0;
  }

  .text h2 {
    padding: 10px;
  }

  .text p {
    padding: 0 0 10px;
  }
  /* faixa decorativa */
  .section-faixa {
    height: 100px;
  }
  .faixa-logo {
    height: 100px;
  }
  .faixa-logo img {
    width: 100%;
    height: 100%;
  }
}
